@import '../../mixins';

:host {
  @include full-screen();

  canvas {
    @include full-screen();
  }

  .board {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    img.background {
      min-height: 100%;
      min-width: 100%;
      width: auto;
      height: auto;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
